<!--
<div>
  <h1>Player1:</h1>
</div>
<br>
<div>
  <h1>Player2:</h1>
</div>
-->
<br>
<form action="/names" method="post">
  <div>
    <label for="">P1:</label>
    <input type="text" name="player_one" placeholder="Enter your name">
  </div>
<br>
  <div>
    <label for="">P2:</label>
    <input type="text" name="player_two" placeholder="Enter your name">
  </div>
  <br>
  <div>
      <input type="submit" value="Submit">
  </div>
</form>
