<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
  <title>Birthday</title>
  </head>
  <body>
    <div class="col-md-6 mx-auto">
      <br>
      <% if @date == 365 %>
        <h1 style="color: coral;">Happy Birthday <%= @your_name %> !<h1>
        <br>
        <img style="width: 80%;" src="https://image.flaticon.com/icons/svg/1244/1244225.svg">
      <% else %>
        <h3 style="color: Tomato;">Your birthday will be in <%= @date %> days <%= @your_name %> !</h3>
      <% end %>
    </div>
  </body>
</html>
